profiles {
    standard {
        process {
            withName: 'Trim' {
                cpus = 10
                memory = 20.GB
            }
            withName: 'Align' {
                cpus = 32
                memory = 32.GB
            }
        aws.client.maxParallelTransfers = 1
    }
    testing {
        process {
            cpus = 2
            memory = 4.GB
        }
    }
}
